<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MicroDude.Properties.MicroDudeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MicroDude.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MicroDude.Properties.MicroDudeSettings>
            <setting name="AvrDudePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoFlash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Programmer" serializeAs="String">
                <value />
            </setting>
            <setting name="AvrdudeConfHash" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDestination" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoDetectUsb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>USB</value>
            </setting>
            <setting name="ColoredOutputEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ErrorColor" serializeAs="String">
                <value>#FFDC143C</value>
            </setting>
            <setting name="WarningColor" serializeAs="String">
                <value>#FFD4AF37</value>
            </setting>
            <setting name="SuccessColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="InfoColor" serializeAs="String">
                <value>#FF808080</value>
            </setting>
            <setting name="MicroDudeColor" serializeAs="String">
                <value>#FF4682B4</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>True</value>
            </setting>
        </MicroDude.Properties.MicroDudeSettings>
        <MicroDude.Properties.Settings>
            <setting name="AvrDudePath" serializeAs="String">
                <value />
            </setting>
        </MicroDude.Properties.Settings>
    </userSettings>
</configuration>